<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {{{ sections.head }}}
  </head>

  <body>
    {{{ sections.body }}}
  </body>
</html>
