{
  "presets": [
    ["env", {
      "debug": true,
      "targets": {
        "node": "6.10"
      }
    }],

    "stage-0"
  ],

  "plugins": [
    // Import raw/literal content (e.g., GraphQL defs.)
    // http://www.npmjs.com/package/babel-plugin-inline-import
    "babel-plugin-inline-import",

    "transform-runtime"
  ]
}
